body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 10, 31);
  color: rgb(245, 243, 212);
  font-family: 'Acme', sans-serif;
}