.container {
  .logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    img {
      width: 20%;
    }
  }
  .section1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    padding-top: 10px;

    h2 {
      text-shadow: 0px 5px 5px rgb(110, 110, 110);
    }
  }

  // .section2 {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  // }

  .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .btn {
      width: 100%;

      button {
        width: 250px;
        height: 35px;
        background-image: linear-gradient(to right, rgb(68, 14, 129), white);
        border-radius: 50px;
      }
    }

    .sosmed {
      width: 100%;
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        justify-content: center;
        width: 100%;

        li {
          list-style: none;
          margin-right: 25px;

          a {
            color: white;
            text-decoration: none;
            background-color: rgba(3, 20, 31, 0.151);
            font-size: 14px;
          }
        }
      }
    }
  }
}

button:hover {
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
}

li a:hover {
  font-weight: bold;
  text-shadow: 0px 10px 5px wheat;
}
